#navbar{
    /* border: 0.1rem solid red ; */
    width: 80rem;
    margin: auto;
    display: flex;
    justify-content: right;   
    background-color: teal;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
a{
    font-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#add_more_product,#show_products{
    border-radius: 0.3rem;
    border: 0.2rem solid black;
    background-color: black;
    cursor: pointer;
}
a:hover{
   color:rgb(112, 247, 112);
}

#cont{
    /* border: 0.1rem solid red; */
    width: 25rem;
    margin: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
}
#cntr{
    text-align: center;
    font-size: 2rem;
}

#products{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
    
}
input{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.4rem;
    border-radius: 0.5rem;

}
#add_product{
    font-size: 1.2rem;
    cursor: pointer;
    width: 18rem;
    margin: auto;
    padding: 0.5rem;
   border-radius: 0.8rem;
   background-color: teal;
   color: white;
   border: 0.1rem solid teal;
   margin-bottom: 1rem;
}
#add_product:hover{
    background-color: rgb(4, 80, 7);
}
label{
    font-size: 1.5rem;
    font-weight: bold;
}

/* display data css */
#all_products{
    width: 80rem;
    margin: auto;
    margin-top: 1rem;
    /* border: 0.5rem solid green; */
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    gap: 0.6rem;
    padding: 0.5;
}
img{
    width: 100%;
    height: 14rem;
}
#card{
    /* border: 0.2rem solid red; */
    padding: 0.4rem;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.3rem;
}

@media (max-width:900px){
    html{
        width: 55%;
    }
}

#rmbtn{
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
#rmbtn:hover{
    background-color: red; 
    color: white;
}

h3,h2,h4{
    line-height: 0.5rem;
}
